body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url(./Asset/galaxy-tree-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  font-weight: 700;
  margin-right: 1rem;
  cursor: pointer;
  outline: none;
}
button:hover{
  background-color: crimson;
  transition: all 0.5s ease;
}


textarea {
  border-radius: 5px;
  padding: 5px;
}
